.footer {
  background-color: #222;
  color: #fff;
  padding: 3em;
  text-align: center;
}

.social_list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.social_list li {
  margin: 0 1em;
}

.social_list a {
  color: inherit; /* Herda a cor do pai (não afeta a cor original do ícone) */
  text-decoration: none; /* Remover sublinhado padrão dos links */
}

.social_list .instagram a:hover {
  color: #ff3493; /* Cor de destaque ao passar o mouse para o Instagram */
}

.social_list .discord a:hover {
  color: #867beb; /* Cor de destaque ao passar o mouse para o Discord */
}

.social_list .whatsapp a:hover {
  color: #21e442; /* Cor de destaque ao passar o mouse para o WhatsApp */
}

.social_list .linkedin a:hover {
  color: #2d63f8; /* Cor de destaque ao passar o mouse para o LinkedIn */
}

.social_list .github a:hover {
  color: #867beb; /* Cor de destaque ao passar o mouse para o GitHub */
}

.social_list svg {
  font-size: 1.5em;
  cursor: pointer;
}

.copy_right {
  margin-top: 2em;
}

.copy_right span {
  font-weight: bold;
  color: #ffbb33;
}
